@use "./abstracts/mixins" as m;
@use "./abstracts/variables" as v;
@import "../../node_modules/bootstrap/scss/bootstrap";

//******************** BODY *********************
body {
    background-color: rgb(52, 21, 31);
    box-sizing: content-box;

}

//******************** HEADER *********************
.header {
    @include m.fluxContainer;
    background-image: url(v.$headerImage);
    background-size: cover;
    min-height: 300px; 
    position: relative;
    // opacity: .33;
    h1 {
        color:rgb(251, 244, 116);
        font-size:100px;
        font-weight: bolder;
    }
}

//******************** FOOTER *********************
footer {
    @include m.fluxContainer;
    min-height: 10rem;
    width: 100%;
    background-color: rgb(48, 65, 71);
    // position: fixed;
    flex-direction: column;
    // bottom: 0;
    margin: 5rem 0 0 0;
    .copyright{
        @include m.fluxContainer;
        margin: 1rem;
        background-color: magenta;
        min-width: 100rem;
    }
    .about{
        background-color: rgb(3, 118, 124);
        min-width: 100rem;
        @include m.fluxContainer;
        justify-content: space-around;
        h6{
            font-weight: bold;
        }
    }
}

//******************** MOOD *********************
.mood{
    background-color: rgb(56, 67, 31);
    margin: 4rem 0;
    &Div{
        max-height: 50rem;
        max-width: 90rem;
        background-color: rgb(57, 47, 76);
        margin:auto;
    }
    &Sec{
        display: flex;
        gap: 3rem;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    &TitleDiv{
        background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .arrowContainer{
            display: flex;
            background-color: rgb(73, 73, 57);
            gap: 1rem;
            .arrow{
                @include m.fluxContainer;
                background-color: v.$btnClr;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                button{
                    background-color: v.$btnClr;
                    border-radius: 50%;
                    border: none;
                    font-size: xx-large;
                }
            }
        }  

    }
}
.sImg{
    object-fit: cover;
    object-position: center;
    background-color: red;
    height: 100%;
    width: 100%;
}


//******************** DISHES GRID *********************
.restaurant {
    background-color: rgb(67, 13, 59);

    .container {
        display: grid;
        grid-template-columns: repeat(4,auto);
        background-color: rgb(52, 85, 76);
        gap: 3rem;
        max-width: 100rem;
    }

    .item {
        background-color: rgb(120, 226, 238);
        max-width: 22.375rem;
        height: 27rem;
        .slider{
            overflow: hidden;
            white-space: nowrap; // Prevent wrapping of inline-block elements
            background-color:red;
            height: 20rem;
            width: 100%;
            .imgDiv{
                display: inline-block; // Align elements horizontally
                transition: transform 1s ease-in-out;
                background-color: rgb(73, 109, 1);
                height: 100%;
                width: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    padding: 5px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .details{
        @include m.vDiv(100px,auto,yellow);
        .nameAndRating{
            @include m.fluxContainer;
            @include m.vDiv(2rem);
            justify-content: space-between;
            .name{
                @include m.vDiv(auto,auto,yellow);
                height: 1.5rem;
                margin-inline: 5px
            }
            .rating{
                @include m.vDiv(1.5rem,auto,yellow);
                margin-inline: 5px
            }
        } 
        .locationAndDTime{
            @include m.fluxContainer;
            @include m.vDiv(1.5rem,auto,violet);
            justify-content: space-between;
            .location{
                @include m.vDiv(1.5rem,auto,rgb(55, 127, 228));
                margin: 5px;
            }
            .DTime{
                @include m.vDiv(1.5rem,auto,rgb(55, 127, 228));
                margin: 5px;
            }
        } 
        .type{
            @include m.vDiv(1.5rem,auto,pink)
        } 
        .activeTime{
            @include m.vDiv(1.5rem,auto,red)
        } 
    }
}


//******************** RESTAURANT DETAILS *********************
.restaurantDetails {
    max-width: 70rem;
    margin: 2rem auto;
    padding: .5rem;
    background-color: green;
    position: sticky;
    top: 0;
    .nameAndRating{
        height: 2rem;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content:space-between;
        .name{
            float: left;
            background-color: yellow;
        }
        .rating{
            float: right;
            background-color: lightblue;
        }
    }
    .location{
    background-color: peachpuff;
    }
    .activeTime{
        background-color: pink;
    }
    .cuisines{
        background-color: lavenderblush;
    }
    .deliveryCharge{
        background-color: lavender;
    }
}

//******************** DISHES *********************
.diseshAndCat{
    @include m.fluxContainer;
    overflow: scroll;
    // position: sticky;
    // margin-top: 178px;
    .navigation{//*****************
        height: 50rem;
        width: 25rem;
        background-color: lightblue;
    }
    a{
        background-color: azure;
        display: block;
        margin: 20px;
        text-decoration: none;
    }
    .dishes{//********************
        display: flex;
        overflow: auto;
        flex-direction: column;
        background-color: coral;
        height: 50rem;
        width: 35rem;
        object-fit: cover;
        object-position: center;
        img{
            height: 500px;
            width: 100%;
        }
    }
    .active{
        background-color: red;
    }
}
