@use "./abstracts/mixins" as m;
@use "./abstracts/variables" as v;

body {
    background-color: rgb(52, 21, 31);
    box-sizing: content-box;

}

$headerImage:"../images/3w_cuisines_india_europe.png";

.header {
    @include m.fluxContainer;
    background-image: url($headerImage);
    background-size: cover;
    min-height: 300px; 
    // opacity: .33;
    h1 {
        color:rgb(255, 255, 120);
        font-size:100px;
        font-weight: bolder;
    }
}

.mood{
    background-color: wheat;
    margin: 4rem 0;
    &Div{
        max-height: 50rem;
        max-width: 90rem;
        background-color: pink;
        margin:auto;
    }
    &Sec{
        display: flex;
        gap: 3rem;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        img{
            height: 10rem;
            width: 10rem;
            background-color: rgb(137, 64, 0);
            // border-radius: 50%;
        }
        h4{
            text-align: center;
        }
    }
    &TitleDiv{
        background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .arrowContainer{
            display: flex;
            background-color: yellow;
            gap: 1rem;
            .arrow{
                @include m.fluxContainer;
                background-color: v.$btnClr;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                button{
                    background-color: v.$btnClr;
                    border-radius: 50%;
                    border: none;
                    font-size: xx-large;
                }
            }
        }  

    }
}